<p id="notice"><%= notice%></p>

<p>
    <strong>Nombre</strong>
    <%= @admin.nombre %>
</p>

<p>
    <strong>Email</strong>
    <%= @admin.email %>
</p>


<br>
<%= link_to "Volver a lista de Admins", lista_admins_path %>
