<html>
    <head>
        <title>Presentación</title>
    </head>
    
    <body>
        <h2>Grupo 4 - Ingeniería de Software</h2>
        <br>
        <h3>Participantes:</h3>
        <ul>
            <% @grupo.each do |participante| %>
            <li><%= participante %></li>
            <% end %>
        </ul>
        <br>
        <h3>Meme por la tela:</h3>
        <div style="margin-top:-10px;">
            <%= image_tag "meme.jpg", height: "250", width: "250" %>
        </div>
    </body>
</html>