<div class="row text-center tall-tittle">
  <div class="row text-center tall-tittle">
    <h4><%= notice %></h4>
  </div>
    
  <h1>Home</h1>
</div>
<div class="row text-center">
  <div class="col-md-4 tall-content align-middle" ></div>
  <div class="col-md-4 tall-content align-middle">
    <div class="row"><%= link_to "Log-in como Swiper", new_swiper_session_path, :class => "btn btn-primary btn-menu" %></div>

    <div class="row"><%= link_to "Log-in como Owner", new_owner_session_path , :class => "btn btn-primary btn-menu"%></div>

  </div>
  <div class="col-md-4 tall-content align-middle" ></div>
</div>
<div class="row">
</div>
