<h1>Bienvenidos al himalaya</h1>

<% if current_swiper %>
<%= link_to "Ver posible gente", aceptando_path %>
<% else %>
<%= link_to "Log in", new_swiper_session_path %><br>
<%= link_to "Registrate", new_swiper_registration_path %>  
<% end %>
<h2> LoL</h2>