<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../assets/stylesheets/slider.css" rel="stylesheet" />
</head>
<body>
<div class="contenedor_swiper">

	<div class="swiper_i current">

		<img src="download.jpeg" style="width:10%">

	</div>

	<div class="swiper_i" style="display:none;">
		<div class="info">
	
		<img src="header.jpg" style="width:10%">
			
		</div>
		<br>
	
	</div>


	<div class="swiper_i last" style="display:none;">
		<div class="info">
	
		<img src="download.jpeg" style="width:10%">
	
		</div>
		<br>
	</div>
	<button id="next">Next</button>
</div>
<script src="../../assets/javascripts/jquery.js"></script>
<script src="../../assets/javascripts/slider.js"></script>

</body>
</html> 