@import "bootstrap";

:root {
  --main-rojo: FireBrick ;
  --main-darko-rojo: #000000;
}
html,body {
  height:100%;
}
header, footer {
  background: var(--main-rojo) !important;
  color: white !important;

}
header {
  min-height: 15vh;
}
footer {
  padding: 10px;
}
main {
  min-height: 85vh;
}

a.titulo {
  color: white !important;
}
.linkable:hover{
  background-color: var(--main-darko-rojo);
}

.btn-primary {
  background-color: var(--main-rojo);
  border: none;
  padding: 12px 24px;
  font-size: 30px;
  margin: 3px;
  min-width: 45%;
}
.btn-menu {
  min-width: 80% !important;
  margin-bottom: 20px;
}
.btn-white{
  background-color: white;
  color: #333333;
  border: none;
  padding: 12px 24px;
  font-size: 22px;
  margin: 3px;
  width: 40%;
}

.tall-1{
  min-height: 80vh;
}
.tall-title{
  min-height: 10vh;
}
.tall-content{
  min-height: 40vh;
}
.align-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.align-z {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.align-w {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.margin-left {
  align-items: flex-start !important;
}

.big {
  font-size: xx-large !important;
}
.bigbig{
  font-size: 50px !important;
}
.small{
  font-size: large !important;
}


.checkbox {
  height: 25px;
  width: 25px;
  margin-right: -300px !important;

}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}