@import "bootstrap";

:root {
  --main-rojo: FireBrick ;
  --main-darko-rojo: #000000;
}
html,body {
  height:100%;
}
header, footer {
  background: var(--main-rojo) !important;
  color: white !important;

}
header {
  min-height: 15vh;
}
footer {
  padding: 10px;
}
main {
  min-height: 85vh;
}

a.titulo {
  color: white !important;
  border: none !important;
}
.linkable:hover{
  background-color: var(--main-darko-rojo);
}

.btn-primary {
  background-color: var(--main-rojo);
  border: none;
  padding: 12px 24px;
  font-size: 30px;
  margin: 3px;
  min-width: 45%;
}
.btn-menu {
  min-width: 80% !important;
  margin-bottom: 20px;
}
.btn-white{
  background-color: white;
  color: #333333;
  border: none;
  padding: 12px 24px;
  font-size: 22px;
  margin: 3px;
  width: 40%;
}

.tall-1{
  min-height: 80vh;
}
.tall-title{
  min-height: 10vh;
}
.tall-content{
  min-height: 40vh;
}
.align-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.align-z {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.align-w {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.margin-left {
  align-items: flex-start !important;
}

.big {
  font-size: xx-large !important;
}
.bigbig{
  font-size: 50px !important;
}
.small{
  font-size: large !important;
}


.checkbox {
  height: 25px;
  width: 25px;
  margin-right: -300px !important;

}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}


th, td {
  text-align:center;
}

.rating {
  float:left;
  width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:40px;
  height:30px;
  text-align:center;
  background: image-url("grey.png");
  background-size: cover;

}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {

  background: image-url("logo.png");
  background-size: cover;
}

.eliminar_foto {
  border: none !important;
}

a {
  padding: 5px;
  color: #333333;
  border-radius: 6px;
  border: 2px solid var(--main-rojo);
}
a:hover {
  color: var(--main-rojo);
  text-decoration: none;
}

input[type="file"] {
  display: inline;
  border: 1px solid #333333;
  border-radius: 1px;
}

.description {
  border: 1px solid #333333;
  border-radius: 5px;
}

td {
  padding: 10px 5px;
}
th {
  padding: 10px 5px;
}